<div class="narrative-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div class="component-widget">
        <div class="items-container">
            <div class="items">
                <div class="items-inner" style="transform: translateX({{math (math _offsetDirection "/" _items.length) "*" _currentIndex}}%); width: calc(100% * {{_items.length}}); ">
                    {{#each _items}}
                        {{> narrativeItem this index=@index}}
                    {{/each}}
                </div>
            </div>
            <div class="controls">
                <div class="counter">{{{compile counterText}}}</div>
                <button class="base back">{{#if _backIconClass}}<div class="icon {{_backIconClass}}"></div>{{/if}}{{{compile backText}}}</button>
                <button class="base next">{{#if _nextIconClass}}<div class="icon {{_nextIconClass}}"></div>{{/if}}{{{compile nextText}}}</button>
            </div>
        </div>
        <div class="texts">
            <div class="texts-inner" style="transform: translateX({{math (math _offsetDirection "/" _items.length) "*" _currentIndex}}%); width: calc(100% * {{_items.length}}); ">
                {{#each _items}}
                    {{> narrativeText this index=@index}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
